<i class="close icon"></i>
<div class="header">
  Edit Experience
</div>
<div class="image content">
  <div class="image">
    <i class="edit icon"></i>
  </div>
  <div class="description">
    <form class="ui form">
      <h4 class="ui dividing header">Information</h4>
      <div class="field">
        <label>Title</label> {{input value=changeset.title}}
      </div>
      <div class="field">
        <label>Company</label> {{input value=changeset.company}}
      </div>
      <div class="field">
        <label>Location</label> {{input value=changeset.location}}
      </div>
      <div class="two fields">
        <div class="field">
          <label>Start Date</label> {{ui-calendar
            today=true
            type="month"
            maxDate=today
            onChange=(action (mut changeset.startDate))
            placeholder="Start Date"
            allowClear=true
            id=startDateCalendarId
          }}
        </div>
        <div class="field">
          <label>End Date</label> {{ui-calendar
            today=true
            type="month"
            startDate=changeset.startDate
            minDate=changeset.startDate
            endDate=changeset.endDate
            maxDate=today
            onChange=(action (mut changeset.endDate))
            placeholder="End Date"
            allowClear=true
            id=endDateCalendarId
          }}
        </div>
      </div>
      <div class="field">
        <label>Description</label> {{textarea value=changeset.description cols="80" rows="6"}}
      </div>
    </form>
  </div>
</div>
<div class="actions">
  <button {{action "delete"}} class="ui red left floated button">
    Delete
  </button>
  <button {{action "rollback" changeset}} class="ui black cancel button">
    Cancel
  </button>
  <button onClick= {{action "submit" changeset}} disabled= {{isInvalidForm}} class="ui positive right labeled icon approve button">
    Submit
    <i class="checkmark icon"></i>
  </button>
</div>
