<i class="close icon"></i>
<div class="header">
  Edit Resume
</div>
<div class="image content">
  <div class="image">
    <i class="edit icon"></i>
  </div>
  <div class="description">
    <form class="ui form">
      <h4 class="ui dividing header">Name</h4>
      <div class="field">
        <label>First Name</label> {{input value=changeset.firstName}}
      </div>
      <div class="field">
        <label>Last Name</label> {{input value=changeset.lastName}}
      </div>
      <div class="field">
        <label>Description</label> {{textarea value=changeset.description cols="80" rows="6"}}
      </div>
    </form>
  </div>
</div>
<div class="actions">
  <button {{action "delete"}} class="ui red left floated button">
    Delete
  </button>
  <button {{action "rollback" changeset}} class="ui black cancel button">
  Cancel
</button>
  <button onClick= {{action "submit" changeset}} disabled= {{isInvalidForm}} class="ui positive right labeled icon approve button">
  Submit
  <i class="checkmark icon"></i>
</button>
</div>
