{{resume-creation-button createResume=(action "createResume")}}
<!-- {{#each resumes as |resume|}}
  {{resume.firstName}} {{resume.lastName}} <br>
{{/each}} -->
{{outlet}}
<div class="ui divider"></div>
<br>
{{resume-cards resumes=resumes}}
